<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>465894346719-r95p4mpju0kj2n04aqprt8g8g2c6ecv2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.465894346719-r95p4mpju0kj2n04aqprt8g8g2c6ecv2</string>
	<key>API_KEY</key>
	<string>AIzaSyDMRg9GLt5UFSUkdXO9kPeGY69rC13wbsI</string>
	<key>GCM_SENDER_ID</key>
	<string>465894346719</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.emoProject</string>
	<key>PROJECT_ID</key>
	<string>emo-project-b201d</string>
	<key>STORAGE_BUCKET</key>
	<string>emo-project-b201d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:465894346719:ios:fa2dfb9067d90bb33dfe6a</string>
</dict>
</plist>